@using TamazightNLU.Resources
<div class="footer">
    <div class="container ">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <p><strong>&copy; TamazightNLU 2019 &#160;&#160;&#160;</strong>@Resource.Allrightsreserved</p>
            </div>
            <div class="col-sm-8 col-xs-12">
                <p class="footer-links">
                    <a href="#/" class="active">@Resource.Home</a>
                    <a href="#/about">@Resource.About</a>
                    <a href="#/privacy">@Resource.TermsandConditions</a>
                    <a href="home/contact">@Resource.ContactUs</a>
                </p>
            </div>
        </div>
    </div>
</div>